@font-face {
    font-family: 'Chivo';
    src: url(../fonts/Chivo-VariableFont_wght.ttf) format('truetype-variations');
    font-weight: 100 900;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Chivo';
    font-weight: 300;
}

