.pfp-container {
	width: 100%;
}

.pfp {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	box-shadow: var(--card-box-shadow);
	border-radius: 0.25rem;
}

small {
	color: var(--muted-color);
}

.pfp.desktop {
	display: block;
}

.pfp.mobile {
	display: none;
}

@media (max-width: 991px) {
	.pfp.desktop {
		display: none;
	}
	
	.pfp.mobile {
		display: block;
	}
}

@media (max-width: 991px) and (min-width: 576px) {
	.pfp-container {
		padding-left: 30%;
		padding-right: 30%;
	}
}

@media (max-width: 575px) {
	.pfp-container {
		padding-left: 20%;
		padding-right: 20%;
	}
}

.contact {
	display: flex;
	gap: 1rem;
	margin-bottom: 3rem;
}
