.pfp-container {
	width: 100%;
}

.pfp {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	box-shadow: var(--card-box-shadow);
	border-radius: 0.25rem;
}

small {
	color: var(--muted-color);
}

@media (max-width: 991px) {
	.pfp-container {
		padding-left: 15%;
		padding-right: 15%;
	}
}

.contact {
	display: flex;
	gap: 1rem;
	margin-bottom: 3rem;
}
