nav.desktop {
	display: flex;
}

nav.mobile,
#popout.mobile {
	display: none;
}

nav img,
.offset .fake-img {
	height: 30px;
	width: auto;
}

@media (max-width: 575px) {
	nav.desktop {
		display: none;
	}

	nav.mobile {
		display: flex;
	}

	#popout.mobile {
		display: block;
	}

	nav img,
	.offset .fake-img {
		height: 25px;
		width: auto;
	}
}

.container-fluid.desktop,
nav.container.mobile {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--muted-border-color);

	position: fixed;
	top: 0;

	transition: top 0.3s ease-in-out;
}

#popout {
	position: fixed;
	top: 0;
	right: 0;

	direction: rtl;

	background-color: var(--card-background-color);
	box-shadow: var(--card-box-shadow);

	height: 100vh;
	width: 50vw;
	display: block;

	transition: right 0.3s ease-in-out;
}

#popout.hide {
	right: -50vw; /* must match width */
}

#popout nav {
	padding-right: 3vw;
}

.offset {
	visibility: hidden;
}
