img-flexbox {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
}

img-flexbox div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

img-flexbox a {
    width: 100%;
}

img-flexbox img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: var(--card-box-shadow);
}

small {
    color: var(--muted-color);
    margin-bottom: 2rem;
}

@media (max-width: 991px) /*and (min-width: 576px) */{
    img-flexbox div {
        width: 45%;
    }

    img-flexbox {
        gap: 10%;
    }
}

/*
@media (max-width: 575px) {
    img-flexbox div {
        width: 100%;
    }

    img-flexbox {
        gap: 0%;
    }

    hgroup {
        margin-bottom: 3rem;
    }
}