<script>
	$(document).ready(function () {
		// Open on #hamburger click
		$("#hamburger").click(function (event) {
			if ($("#popout").hasClass("hide")) {
				$("#popout").removeClass("hide");
				event.stopPropagation();
			}
		});
		// Close on external click
		$(document).click(function (event) {
			// .closest function returns array with jQuery object of closest #popout
			if (
				!$(event.target).closest("#popout").length &&
				!$("#popout").hasClass("hide")
			) {
				$("#popout").addClass("hide");
			}
		});
		// Hide on scroll-down, show on scroll-up
		var oldScroll = $(window).scrollTop();
		$(window).on("scroll", function () {
			var newScroll = $(window).scrollTop();
			// Scrolling down - hide
			if (newScroll > oldScroll) {
				// Desktop
				if ($(window).width() > 575) {
					$("#desktop-scroll").css(
						"top",
						$("#desktop-scroll").height() * -1
					);
				}
				// Mobile
				else {
					$("#mobile-scroll").css(
						"top",
						$("#mobile-scroll").height() * -1
					);
				}
			}
			// Scrolling up - show
			else {
				$("#desktop-scroll, #mobile-scroll").css("top", 0);
			}
			oldScroll = newScroll;
		});
	});
</script>
<!-- Desktop -->
<!-- 100vw for appropriate border position -->
<div class="container-fluid desktop" id="desktop-scroll">
	<nav class="container desktop">
		<ul>
			<li>
				<img
					src="{{url_for('static', filename='images/favicon.png')}}"
				/>
			</li>
		</ul>
		<ul>
			<li><a href="#" class="contrast">About</a></li>
			<li><a href="#" class="secondary">Research</a></li>
			<li><a href="#" class="secondary">Design</a></li>
			<li>
				<a
					href="{{url_for('static', filename='files/CV.pdf')}}"
					target="_blank"
					rel="noopener noreferrer"
					class="secondary"
					>CV</a
				>
			</li>
		</ul>
	</nav>
</div>
<!-- Mobile -->
<nav class="container mobile" id="mobile-scroll">
	<ul>
		<li>
			<img src="{{url_for('static', filename='images/favicon.png')}}" />
		</li>
	</ul>
	<ul>
		<li>
			<a id="hamburger" href="#" class="secondary">
				<i
					class="fa-solid fa-bars fa-lg"
					style="color: var(--secondary)"
				></i
			></a>
		</li>
	</ul>
</nav>
<!-- Mobile Popout -->
<div id="popout" class="mobile hide">
	<div class="container-fluid">
		<nav>
			<ul>
				<li>
					<img
						src="{{url_for('static', filename='images/favicon.png')}}"
					/>
				</li>
			</ul>
		</nav>
		<aside>
			<nav>
				<ul>
					<li><a href="#" class="contrast">About</a></li>
					<li><a href="#" class="secondary">Research</a></li>
					<li><a href="#" class="secondary">Design</a></li>
					<li>
						<a
							href="{{url_for('static', filename='files/CV.pdf')}}"
							target="_blank"
							rel="noopener noreferrer"
							class="secondary"
							>CV</a
						>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</div>
<!-- Device agnostic offset for fixed navbar -->
<nav class="container offset">
	<ul>
		<li>
			<div class="fake-img"></div>
		</li>
		<li><a href="#">fake text</a></li>
	</ul>
</nav>
