{% extends 'base.html' %} {% block title %}Research{% endblock %} {% block
styles %}<link
	rel="stylesheet"
	href="{{url_for('static', filename='css/research.css')}}"
/>{% endblock %} {% block content %}

<main class="container">
	<div class="row">
		<hgroup>
			<h1>Research</h1>
			<h3>My work within HCI, Health, and Design</h3>
		</hgroup>
	</div>
	<div class="row">
		<img-flexbox>
			<div>
				<a href="/abortion_activism.html"
					><img
						src="{{url_for('static', filename='images/activism_styles.png')}}"
				/></a>
				<small>Technology & Abortion Activism</small>
			</div>
			<div>
				<a href="/reflection_bereavement.html"
					><img src="{{url_for('static', filename='images/gfg.png')}}"
				/></a>
				<small>Reflective Technology & Bereavement</small>
			</div>
			<div>
				<a href="/cooking_experiences.html"
					><img
						src="{{url_for('static', filename='images/cooking_stories.png')}}"
				/></a>
				<small>Digitally Shared Cooking Experiences</small>
			</div>
		</img-flexbox>
	</div>
</main>

{% endblock %}
